@charset "UTF-8";


.header {

	height: 25px;
	width: 100%;
	background-color:#666699;
	position: fixed;
	top:0;
	z-index:10;
}
.copyright{
	text-align: center;
}
.form-area{
	max-width:1000px;
	margin:0 auto;
}
.item {
	float: left;
  	width: 10%;
}
.item:hover {
	opacity:0.7;
}
.item-name a {
	display:block;
 	width: 100%;
 	color: white;
	font-weight:normal;
	text-align: center;
	font-family:'arial';
}
.search-box {
	background-color:#9ec34b;
	border-radius: 4px;
	position:fixed;
	top:30px;
	margin-right:7%;
}
.search-item {
	padding:0 0 0 35px
}
.errorMessages {
	display:block;
	height: 55px;
	position:fixed;
	top:65px;
	padding:20px 150px;
	margin:10px ;
}
.post {
	padding:50px 50px;
	background-color:#FFFFBB;
	background-size: cover;
	margin: 15px 3px;
	border-radius: 4px;
}
.category h3 {
	font-weight: normal;
	margin:0;
}
.title {
	border-bottom: 1px dashed blue;
	padding-bottom: 5px;
}
.commentpost {
	margin-left: 38%;
	margin-right:7%;
}
.pastcomment {
	margin-left: 40%;
	margin-right:7%;
}
.account-name {
	float:left;
}
.date {
	float:right;
}
.delete {
	padding:0 0 10px 550px;
}
.newpost-items {
	max-width:600px;
	margin:0 auto;
}
.um-main {
	width: 800px;
	margin:0 auto;
}

.user {
	width: 800px;
	text-align: center;
	color: black;
	margin: 15px 0;
}
.profile{
	width: 350px;
	display: inline-block;
	padding: 8px 8px;
	opacity: 0.8;
	border-radius: 4px;
	background-color: #FFFFBB;


}
.signupuser{
	padding: 10px;
	color: black;
	text-align: center;
	opacity: 0.8;
}

.signups{
	display: inline-block;
	width:200px;
	margin:10px ;
	border-radius: 4px;
	background-color: #FFFFBB;

}
.btn-border {
  display: inline-block;
  max-width: 120px;
  text-align: left;
  font-size: 16px;
  color: #9ec34b;
  text-decoration: none;
  font-weight: bold;
  padding: 0 6px;
  border-radius: 4px;
  transition: .4s;
}
.btn-border:hover {
  background-color: #9ec34b;
  border-color: #cbe585;
  color: #FFF;
}
.btn {
  display : inline-block;
  border-radius : 5%;
  font-size : 8pt;
  text-align  : center;
  cursor : pointer;
  padding : 5px 5px;
  background : #666699;
  color  : #ffffff;
  line-height: 1em;
  transition  : .3s;
  border : 2px solid #666699;
}
.btn:hover {
  color : #666699;
  background : #ffffff;
}
.botton{
	display : inline-block;
	margin:2px;

}
